Repository bettergovph/hotlines: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

chore(ci): convert validation script to use node
  .github/workflows/validate_schemas.yml
  README.md
  package.json
  scripts/validate-json-schema.js
  scripts/validate_schemas.py
Due: eslint --fix, prettier --write

chore(ci): add schema validation to lint-staged config
  .lintstagedrc.json
Due: prettier --write

fix: implement cache busting for service worker data files
  .gitignore
  next.config.ts
  package.json
  public/sw.js
  public/swe-worker-ab00d3c7d2d59769.js
  scripts/generate-precache-manifest.mjs
  src/app/sw.ts
Due: eslint --fix, prettier --write

feat: adding hotlines for Tagum City
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

chore(deps): upgrade next to patched version
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add municipality of los baños, laguna hotlines
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: adding hotlines for Tagum City (#18)
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

fix: prettier formatting
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

fix: implement cache busting for service worker data files (#15)
  .gitignore
  next.config.ts
  package.json
  public/sw.js
  public/swe-worker-ab00d3c7d2d59769.js
  scripts/generate-precache-manifest.mjs
  src/app/sw.ts
Due: eslint --fix, prettier --write

feat: add municipality of los baños, laguna hotlines (#20)
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: allow direct linking to city|province
  src/app/page.tsx
Due: eslint --fix, prettier --write

fix: url changed to ?city=los%20baños&province=laguna
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: add Marikina City to metadata
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: add Marikina City hotlines
  public/data/hotlines.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json

feat(data): add hotlines for Las Piñas City
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: allow direct linking to city|province via url (#21)
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat(data): add hotlines for Las Piñas City (#23)
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

fix: wrap useSearchParams in Suspense boundary on home page
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore(deps): update minor and patch dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): upgrade lucide-react, prettier, react, react-dom
  package-lock.json
  package.json
Due: prettier --write

chore(deps): upgrade globals and @commitlint to latest major
  package-lock.json
  package.json
Due: prettier --write

chore(deps): upgrade next.js to v16, use webpack for serwist compat
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: update tsconfig for next.js v16 compatibility
  tsconfig.json
Due: prettier --write

Update project dependencies (#24)
  next.config.ts
  package-lock.json
  package.json
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat(data): add hotlines and metadata for Aparri, Cagayan
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat(data): add hotlines and metadata for Aparri, Cagayan (#25)
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

chore: update dependencies to lessen audit warning
  package-lock.json
Due: prettier --write

chore: changing version number to v0.1.1
  package-lock.json
  package.json
Due: prettier --write

fix: prettier format fix with --write
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

chore: update dependencies to lessen audit warning (#26)
  package-lock.json
  package.json
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

fix: close btn install prompt for max screen usage
  src/components/install-prompt.tsx
Due: eslint --fix, prettier --write

chore: added neverthrow & npm update
  package-lock.json
  package.json
Due: prettier --write

fix: fetch lastSavedLocation with neverthrow
  src/app/page.tsx
Due: eslint --fix, prettier --write

feat: adding a customized not-found page
  src/app/not-found.tsx
Due: eslint --fix, prettier --write

ci: pre-push check, to avoid pushing faulty builds
  .husky/pre-push
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: npm update
  package-lock.json
Due: prettier --write

feat,fix: Interactive 404, Install Prompt Fixes, & Storage Cleanup (#27)
  .husky/pre-push
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/install-prompt.tsx
Due: eslint --fix, prettier --write

chore: adding kapwa library
  package-lock.json
  package.json
Due: prettier --write

feat: updated and added iligan hotline numbers
  public/data/hotlines.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,md,yml,yaml,css,scss,html})
  node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json: any of: public/data/hotlines.json
  node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json: any of: public/data/metadata.json
