Repository bettergovph/hotlines: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"],
  "public/data/hotlines.json": [
    "node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json"
  ],
  "public/data/metadata.json": [
    "node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json"
  ]
}

feat: updated and added iligan hotline numbers (#29)
  public/data/hotlines.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json

feat: adding gensan hotlines into json
  package-lock.json
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: updating URL when selecting a new city
  src/app/page.tsx
Due: eslint --fix, prettier --write

chore: npm update
  package-lock.json
Due: prettier --write

feat: gensan hotlines (#30)
  package-lock.json
  public/data/hotlines.json
  public/data/metadata.json
  src/app/page.tsx
Due: eslint --fix, prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: updating iligan city emergency hotlines
  public/data/hotlines.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json

feat: add Bocaue, Bulacan hotline numbers
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: add Marilao, Bulacan hotline numbers
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: add brgy hotlines for Bocaue, Bulacan
  public/data/hotlines.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json

feat: updating iligan city emergency hotlines (#31)
  public/data/hotlines.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json

feat: add phone number formatter for readability and unit test
  package-lock.json
  package.json
  src/components/hotline-card.tsx
  src/lib/utils.test.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

docs: add running test step in README.md
  README.md
Due: prettier --write

Add Bocaue, Bulacan hotline numbers (#32)
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json

feat: add Marilao, Bulacan hotline numbers (#33)
  public/data/hotlines.json
  public/data/metadata.json
Due: prettier --write, node scripts/validate-json-schema.js schemas/hotlines.schema.json public/data/hotlines.json, node scripts/validate-json-schema.js schemas/metadata.schema.json public/data/metadata.json
